# PyCache
**/__pycache__

# Config file
**/*.yaml
**/*.yml
**/.env

# Virtual environment
venv/
llm-bot/

# Grammar files
**/*.gbnf

# LLMs
**/llms
**/shared
*.gguf

# Local files
**/files

# Service files
**/*.service
**/run_service
**/run